{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}G Plateforme{% endblock %}</title>

        {% block stylesheets %}
            {# On charge le CSS de materialize depuis le site directement #}
                <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.css')}}"  media="screen,projection"/>
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link type="text/css" rel="stylesheet" href="{{ asset('css/general.css')}}"/>

        {% endblock %}

    </head>

    <body>
        {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/materialize.min.js')}}"></script>
        {% endblock %}

        <div class="grey darken-3">
            <div class="container grey lighten-2">
                <div id="header">
                    <img src="{{ asset('img/georges2.png') }}" width="100%" />
                    <ul id="dropdown1" class="dropdown-content grey darken-1">
                        <li><a href="#" class="white-text">Arts</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('g_plateform_songs') }}" class="white-text">Songs</a></li>
                    </ul>
                    <ul id="dropdown2" class="dropdown-content grey darken-1">
                        <li><a href="{{ path('g_plateform_add') }}" class="white-text">Add a news</a></li>
                    </ul>
                    <nav>
                        <div id="menu" class="nav-wrapper grey darken-1">
                            <a href="{{ path('g_plateform_home') }}" class="brand-logo"><i class="material-icons home_icon">home</i></a>
                            <ul class="right hide-on-med-and-down  grey darken-1">
                                <li><a href="{{ path('g_plateform_news') }}">News</a></li>
                                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Media</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="{{ path('g_plateform_contact') }}">Contact</a></li>
                                <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">reorder</i></a></li>
                            </ul>
                         </div>
                     </nav>
                </div>
                <div class="content">
                    {% block body %}

                    {% endblock %}
                </div>

                <footer class="page-footer grey darken-3">
                    <div class="footer-copyright">

                        <div class="container">© 2016 Georges
                            <a href="{{ path('g_plateform_home') }}" class="brand-logo right"><i class="material-icons white-text home_icon ">home</i></a>


                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>