{% extends "GPlateformBundle::layout.html.twig" %}

{% block title %}
    Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block g_plateform_body %}

    <div class="row">
        <div class="col s12 m6  ">
            <div class="card grey lighten-1">

                <div class="card-content">
                    <h5>Supprimer un article</h5>


                    <p>Etes-vous certain de vouloir supprimer l'article "{{ article.title }}" ?</p>


                    {# On met l'id de l'annonce dans la route de l'action du formulaire #}
                    <form action="{{ path('g_plateform_delete', {'id': article.id}) }}" method="post">
                        <a href="{{ path('g_plateform_showDelete', {'id': article.id}) }}" class="btn btn-default grey darken-1">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Retour au menu
                        </a>

                        <input type="submit" value="Supprimer" class="btn btn-danger grey darken-1" />
                        {# Ceci va générer le champ CSRF #}
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}