{% extends "GPlateformBundle::layout.html.twig" %}


{% block title %}

{% endblock %}

{% block body %}




    <div class="container">
        <div class="col s12 m6  ">

                    <div class="collection grey darken-1 black-text">

                        {% for article in listArticle %}
                            <div class="card" id="article.id">
                                <div class="card-image">

                                    {# on affiche l'image upladé ( stockée dans /img ) #}
                                    <img src="{{ asset('img/' ~ article.uploadImage) }}">



                                </div>

                                <div class="card-content">
                                    <a href="{{ path('g_plateform_view', {'id': article.id}) }}">
                                        {{ article.title }} </a>
                                    <i>Le {{ article.date|date('d/m/Y') }}</i>
                                    <p> {{ article.content }} </p>

                                </div>
                            </div>
                            <p>

                            </p>
                        {% else %}
                            <li>Pas de news pour l'instant ! </li>
                        {% endfor %}

                    </div>

            </div>
        </div>

    </div>
    </div>

{% endblock %}